html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 15px;
}
body {
    background-color: rgba(245, 245, 245, 1);
}
* {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.text-selectable {
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
}
h2 {
    margin: 1rem 0 2rem 0;
}
hr {
    margin-block: 3rem;
}

.vts-labeled-container,
.vts-login-component {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    width: max-content;
    border: 0.1rem solid darkgray;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: inherit;
    > .vts-span {
        position: absolute;
        margin: 0;
        padding: 0 0.5rem;
        left: 1rem;
        top: -0.7rem;
        background-color: inherit;
    }
}
.vts-labeled-text-input,
.vts-labeled-password-input {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
    padding: 0;
    &:first-of-type {
        margin: 1rem 0 1rem 0;
    }
    > .vts-label {
        margin: 0 0 0.25rem 0.2rem;
    }
    > .vts-text-input,
    > .vts-password-input {
        font-size: 1rem;
    }
}
.vts-button {
    font-size: 1rem;
}
